body {
    margin-left: 20px;
    font-family: sans-serif;
}

a {
    color: #aaa;
    text-decoration: none;
    position:relative;
}
a:active {
    top: 2px;
}
a:visited {
    color: #aaa;
}

nav {
    display:none;
}

section {
    border-bottom: 1px solid #ccc;
}

section article {
    padding-left: 10px;
}

h2 {
    text-decoration: underline;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}
