@charset "UTF-8";

/* CSS Document */



/*== Up to 767px ======================================================
========================================================================*/


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .feature-media {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .feature-content article,
    .feature-media {
        margin-top: 3%;
        width: 98%;
    }
    .feature-media h3,
    .feature-media dt,
    .feature-media p,
    .feature-media dl,
    .feature-content article {
        text-align: center;
    }
    a.call-to-action {
        width: 95%;
        margin: 0 auto 20px;
    }
    nav ul {
        display: none;
    }
    .mobile-nav li {
        display: none;
    }
    nav .icon-th-list {
        display: block;
    }
    .mobile-nav li {}
    .one-third {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    .one-third.last {
        margin: auto;
    }
    .page-contain {
        padding: 10px;
    }
    .left,
    .right {
        float: none;
        text-align: center !important;
    }
    img {
        text-align: center;
        margin: inherit auto;
    }
    .feature-content .spotlight {
        border: none;
    }
    .feature-content .spotlight h1 {
        text-align: center;
        font-size: 22px;
    }
    .lead-image {
        background: url(../images/290-spaceship-bg.jpg) no-repeat 0 0;
        width: 100%;
        height: 227px;
    }
    .resume .social li {
        width: 13%;
        float: none;
    }
    .news .entry h4 {
        margin-top: 15px;
    }
    .news .entry iframe {
        float: none;
    }
    .articles .entry .featured-img {
        float: none;
    }
    .articles .entry h4 {
        margin-top: 15px;
    }
    .contact label {
        float: none;
        width: 95%;
    }
    .contact input {
        float: none;
        width: 95%;
    }
    .contact textarea {
        float: none;
        width: 95%;
    }
    .contact .button {
        width: 95%;
        margin: 15px auto;
    }
}

/*== Up to 480px ==================================================
====================================================================*/


/* Landscape phones and down */

@media only screen and (max-width: 480px) {
    .lead-image {
        background: url(../images/480-spaceship-bg.jpg) no-repeat 0 0;
    }
    footer ul a {
        display: block;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid;
        text-align: left;
        text-indent: 2%;
    }
    footer ul li {
        border: none;
    }
}


/*== Up to 340px =====================================================
========================================================================*/


/* Portrait phones */

@media only screen and (max-width: 340px) {
    .page-contain {
        padding: 10px;
    }
    .left,
    .right {
        float: none;
        text-align: center !important;
    }
    img {
        text-align: center;
        margin: inherit auto;
    }
    .feature-content .spotlight {
        border: none;
    }
    .feature-content .spotlight h1 {
        text-align: center;
        font-size: 22px;
    }
    .lead-image {
        background: url(../images/290-spaceship-bg.jpg) no-repeat 0 0;
        width: 100%;
        height: 227px;
    }
    .resume .social li {
        width: 13%;
        float: none;
    }
    .news .entry h4 {
        margin-top: 15px;
    }
    .news .entry iframe {
        float: none;
    }
    .articles .entry .featured-img {
        float: none;
    }
    .articles .entry h4 {
        margin-top: 15px;
    }
    .contact label {
        float: none;
        width: 95%;
    }
    .contact input {
        float: none;
        width: 95%;
    }
    .contact textarea {
        float: none;
        width: 95%;
    }
    .contact .button {
        width: 95%;
        margin: 15px auto;
    }
}
